$fadewhite: #f7f7f7;
$c_gray: #f4f4f4;
$txt_grey: #a1a1a6;
$fadegray: #f5f5f7;
$blue: #0171e2;
$watch_orange: #f56900;
$blacktxt: #1d1d1f;

%clip_bg {
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     background-clip: text;
}
%header_big {
     font-size: 6rem;
     color: $blacktxt;
     font-weight: 700;
}
%p-1 {
     font-size: toRem(20);
     font-weight: 500;
     line-height: 1.7rem;
     letter-spacing: 0.011em;
}
%mg_au {
     margin: 0 auto;
}
%full-width {
     @include media("<=tablet") {
          width: 100%;
     }
}
%rm-tab {
     @include media("<=tablet") {
          display: none;
     }
}
%rm-mobile {
     @include media("<=phone-tab") {
          display: none;
     }
}
