.flex {
     display: flex;
}
span.word_wrap {
     overflow: hidden;
     display: inline-block;
}
[data-animation="h"] span.word {
     overflow-y: hidden;
     position: relative;
}
.child_wrap {
     width: 80%;
     margin: 0 auto;
     @include media("<=tablet") {
          width: 90%;
     }
}
.rm-tab{
     @include media("<=tablet") {
          display: none;
     }
}
.rm-mobile{
     @include media("<=phone-tab") {
          display: none;
     }
}
.full-width-tab{
     @include media("<=phone-tab") {
          width: 100%;
          max-width: 100%;
     }
}
.abs {
     position: absolute;
}
.ta_center {
     text-align: center;
}
.mg_au {
     margin: 0 auto;
}
