* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 16);
}
body {
  font-family: Samsung;
  overflow-x: hidden;
}
h1 {
  font-size: toRem(90);
  line-height: 5.5rem;
  font-family: Samsungsharp;
}
section {
  padding: 7rem 0;
  min-height: 100vh;
  width: 100%;
}
button {
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}
// ::-webkit-scrollbar {
//   display: none;
// }
