* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
html {
     scroll-behavior: initial;
     font-size: calc(100vw / 1440 * 16);
     @include media("<=tablet") {
          font-size: calc(100vw / 475 * 10);
     }
     @include media("<=phone-tab") {
          font-size: calc(100vw / 375 * 14);
     }
}
body {
     font-family: Samsung;
     overflow-x: hidden;
}
h1 {
     font-size: toRem(90);
     line-height: 5.5rem;
     font-family: Samsungsharp;
     @include media("<=tablet") {
          font-size: 4rem;
          line-height: 4.5rem;
     }
     @include media("<=phone-tab") {
          font-size: 3.3rem;
          line-height: 3.8rem;
     }
}
h2 {
     font-size: toRem(60);
     line-height: 4.3rem;
     font-family: Samsungsharp;
     @include media("<=phone-tab") {
          font-size: 3rem;
          line-height: 3rem;
     }
}
h3 {
     font-size: toRem(45);
     font-family: Samsungsharp;
     @include media("<=phone-tab") {
          line-height: 2.9rem;
          font-size: 2.5rem;
     }
}
section {
     padding: 7rem 0;
     min-height: 100vh;
     width: 100%;
     overflow-x: hidden;
}
button {
     outline: none;
     font-family: inherit;
     font-size: 1rem;
     border: none;
}
canvas {
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     position: sticky;
     max-width: 100vw;
     background: black;
     min-height: 100vh;
}
img {
     -webkit-user-drag: none;
     user-select: none;
}
// ::-webkit-scrollbar {
//   display: none;
// }
