@font-face {
     font-family: Samsungsharp;
     src: url("@/assets/fonts/SamsungSharpSans-Bold.woff");
     font-display: swap;
}
@font-face {
     font-family: Samsung;
     src: url("@/assets/fonts/SamsungSans_Regular-webfont.woff2");
     font-display: swap;
}
