@font-face {
  font-family: Samsungsharp;
  src: url("src/assets/SamsungSharpSans-Bold.woff");
  font-display: swap;
}
@font-face {
  font-family: Samsung;
  src: url("src/assets/SamsungSans_Regular-webfont.woff2");
  font-display: swap;
}
